@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

* {
    font-family: 'Noto Serif', serif;
    margin: 0;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    margin: 5px auto;
    padding: 5px 0;
    text-align: left;
    border: none;
}

.name {
    text-transform: uppercase;
    text-align: center;
    background: black;
    color: white;
    font-size:  25px;
    padding: 30px 0;
    margin: 0;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 40px auto 20px auto;
}

.contact {
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px 0;
}

.bio {
    width: 80%;
    text-align: center;
    font-size: .9em;
    color: rgb(156, 156, 156);
    margin: 20px auto 40px auto;
}

.border-1 {
    display: content;
    border-bottom: 5px solid black;
    margin-bottom: 4px;
}

.border-2 {
    display: content;
    border-top: 2px solid black;
    margin: 0 auto;
}

legend {
    display: block;
    margin: 20px 0;
}

form label {
    color: rgb(156, 156, 156);
}

form input,
form select,
textarea {
    margin: 20px 0 20px 0;
    padding: 15px;
    background: rgb(233, 232, 232);
    border: none;
    border-radius: 5px;
}

input::placeholder {
    text-align: right;
    font-size: .8em;
    font-style: italic;
    color: rgb(204, 203, 203);
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid rgb(78, 68, 173);
    outline: 0;
}

.subheading {
    padding: 20px 0;
}

.news {
    border-top: 2px solid black;
    padding-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.item {
    flex-direction: row;
}

.container label {
    margin-left: 10px;
}

.topics {
    margin-bottom: 20px;
}

textarea {
    min-height: 150px;
}

.btn {
    align-self: stretch;
    margin: 10px auto 20px auto;
    padding: 20px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(25, 221, 211);
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

footer {
    font-style: italic;
    color: rgb(156, 156, 156);
    text-align: center;
    margin: 10px auto 20px auto;
}